plugins.v3/brushflow/node_modules/
plugins.v3/smartbrushflow/node_modules/
plugins.v3/brushflow/__pycache__/
tests/**/__pycache__/
*.pyc
*.zip
.local/
.venv/
.pytest_cache/
.ruff_cache/
**/.coverage
htmlcov/
test-results/
playwright-report/
